body{
    background: linear-gradient(45deg ,rgb(13, 6, 24), rgb(4, 4, 43));
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

input, textarea{
    background-color: rgba(27, 27, 27, 0.596);
    color: blue;
    font-size: 15px;
    font-family: cursive;
    border-radius: 20px;
    overflow: hidden;
}

.offer_smallDescription{
    width: 250px;
    height: 70px;
    max-width: 250px;
    max-height: 70px;
}

.offer_description{
    width: 350px;
    height: 200px;
    max-width: 350px;
    max-height: 200px;
}